<ion-view>
	<ion-nav-title>我要代理</ion-nav-title>
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/default.png">
				<h2>品牌名称</h2>
				<p>产地</p>
			</div>

			<div class="item item-divider item-body">
				<div class="ysh-image">
					<img class="full-image" src="img/wares/w_03.jpg">
				</div>
				<p>
					觉得这款产品不错?现在就申请成为它的代理吧!
				</p>
			</div>

			<a class="item" ng-click="goApply()">
				申请代理权
				<i class="icon ion-chevron-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>
