<div id="search-panel">
	<div class="bar bar-header item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" placeholder="商品名称" ng-model="search.key">
		</label>
		<button class="button button-clear" ng-click="search()">查找</button>
	</div>
	<ion-list>
      <ion-item nav-clear menu-close ng-repeat="hit in hitlist" ui-sref="app.ware({wId:hit.id})">
        <span>{{hit.title}}</span>
      </ion-item>
    </ion-list>
</div>